<form action="/write" method="POST">
    <h2>게시판</h2>
    <input name="title" type="text">
    <br>
    <textarea name="content" class="form-control" rows="7" cols="120"></textarea>
    <br>
    <button type="submit">submit</button>
</form>